/*************************beginning*********************/
:root {
    --primary: #a494c4;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
/******************************************************/

/**********************nav*****************************/
nav{
    height: 50px;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 4px silver;
    z-index: 1;
}
.icon{
    color: whitesmoke;
    margin: 0 0 0 15px;
}
.anchors {
    margin: 0 25px 0 0;
}
.nav-items{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 3px;
}
.nav-items:hover{
    opacity: .7;
    padding: 10px 5px;
    font-weight: bold;
    background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
}
/******************************************************/

/***********************home***************************/
.home{
    height:500px;
    background-image: url("images/dark\ mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    object-fit: contain;
}

.intro{
    height: 500px;
    background-color: rgb(80, 75, 95);
}