/*************************beginning*********************/
:root {
    --primary: #a494c4;
    --blueish: #2b4162;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
html{
    overflow-x: hidden;
}
/* .content{
    background-image: url(images/about-bckg.png);
} */

.transition {
    background-image: radial-gradient(#2b4162, #12100e);
    height: 25px;
    margin: 0;
}


/******************************************************/

/**********************nav*****************************/
nav{
    position:fixed;
    width :100%;
    z-index: 10;
}

.nav-wrapper{
    height: 50px;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;

}



.icon {
    color: rgb(165, 165, 165);
    margin: 0 0 0 15px;
}

.anchors {
    margin: 0 25px 0 0;

}

.nav-items {
    text-decoration: none;
    padding: 10px 5px;
    color: whitesmoke;
    color: rgb(165, 165, 165);
    border-radius: 5px;
    font-size: 18px;
    margin: 0 3px;
    position: relative;
}

@keyframes move-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes move-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes move-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-top {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }

}
.funsies{
    position:relative;
}

.funsies span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 2px;
    background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
    animation: move-right 7s linear infinite;
}

.nav-items:hover span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000, #fff);
    animation: move-right 1s linear infinite;
}

.nav-items:hover span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, #000, #fff);
    animation: move-down 1s linear infinite;
}

.nav-items:hover span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000, #fff);
    animation: move-left 1s linear infinite;
}

.nav-items:hover span:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, #000, #fff);
    animation: move-top 1s linear infinite;
}

.nav-items:hover {
    color: white;
    background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
    z-index: 1;
}


/******************************************************/

/***********************home***************************/
@keyframes pan-image {
    0% {
        background-position: 36% 42%;
        background-size: 150%;
    }

    20% {
        background-position: 30% 35%;
        background-size: 150%;
    }

    20.0001% {
        /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 200%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 200%;
    }

    40.0001% {
        /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 200%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 200%;
    }

    60.0001% {
        /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 200%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 200%;
    }

    80.0001% {
        /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 200%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 200%;
    }
}


@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 200px;
    }
}

.home {
    height: 35vh;
    background-image: url("images/dark\ mountains.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    animation: pan-image 15s linear infinite;

}

.home-items {
    height: 100%;
    display: flex;
    color: whitesmoke;
    align-items: center;
    position: relative;
    gap: 50px;
    animation: slide-in 1s linear;
    animation-fill-mode: forwards;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.home-items > img {
    border-radius: 10rem;
}

.resume {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.resume > a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 15px;
    border: 3px solid var(--blueish);
    border-radius: 1rem;
    position: relative;
}
.resume >a:hover{
    background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
}

.resume > a:hover span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #000, #fff);
    animation: move-right 1s linear infinite;
}

 .resume > a:hover span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, #000, #fff);
    animation: move-down 1s linear infinite;
}

.resume > a:hover span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000, #fff);
    animation: move-left 1s linear infinite;
}

.resume > a:hover span:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, #000, #fff);
    animation: move-top 1s linear infinite;
}

/******************************************************/

/***********************About**************************/

/* fill top about box with carousel of school images*/

@keyframes breathing {
    0%,100%{
        box-shadow: 0 0 10px 10px black;
    }
    50%{
        box-shadow: 0 0 0 0 black;
    }
}


.about {
    height: 800px;
    background-image: url(images/about-bckg.png);
    display:flex;
    justify-content: space-between;
    gap:1em;

}
.about > h1{
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: whitesmoke;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(315deg, #2b4162 0%, #2e2925 74%);
    height: 100%;
    width: 20%;
}
.about1{
 
    height:35%;
}
.about2{
    height: 25%;
}

.about2 > h3{
    color: whitesmoke;
    text-align: center;
    margin-top: 2px;
}
.about2 li{
    font-size: 20px;
}

.about3{
    
    height: 15%;
}
.about3 > h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 2px;

}
.about4{
    height: 25%;
}
.about4 > h3{
    color: whitesmoke;
    text-align: center;
    margin-top: 2px;
}
.about-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-flex img{
    width: 40%;
    height: 50%;
}

.about-info {
    height: 100%;
    display: grid;
    width: 80%;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(40, 1fr);
 
}
.about-info h3 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    color: whitesmoke;
}

.who{
    grid-row: 11/20;
    grid-column: 1/20;
    font-size: 25px;
}
.who >p{
    margin: 3rem 1rem 3rem 1rem;
    bottom: 2rem;
}
.experience{
    grid-row: 11/15;
    grid-column: 21/40;
}
.education {
    grid-row: 16/20;
    grid-column: 21/40;
}

.life, .who, .experience, .education{
    background-color: grey;
    background: linear-gradient(315deg, #2b4162 0%, #2e2925 74%);
    border-radius: 1em;
    box-shadow: 0 0 20px 20px black;
    animation: breathing 3s linear infinite;
}
.life{
    background-image: url(images/mu.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2 / 10 ;
    grid-column: 1 / 40;
}

.about-info hr {
    width: 50%;
    border: none;
    border-top: 10px dotted whitesmoke;

}

/******************************************************/

/***********************Manager**************************/

.manager{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/blackWaves.jpg);
    display: flex;
    gap: 10px;
}

.skills{  
    gap: 10px;
    display: flex;
    flex-direction:column ;
    justify-content: start;
    width: 40%;
    margin-left: 1%;
    height: 100%;
}
.skills h2 {
    color: whitesmoke;
}

.know { 
    margin-top: 15px;
    flex-basis: 53%;
}
.learning{
    flex-basis: 40%;
}
.know ,.learning {
    background: linear-gradient(315deg, #2b4162 0%, #2e2925 74%);
    text-align: center;
    border-radius: 2rem;
    animation: breathing 3s linear infinite;
}
.know-images{
    display: flex;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.know-images img {
    flex-basis: 150px;
    height: 100px;
}
.learning-images{
    display:flex;
    justify-content: space-evenly;
}
.learning-images img {
    flex-basis: 250px;
    height: 200px;
}

.skills hr {
    width: 50%;
    border: none;
    border-top: 10px dotted whitesmoke;

}
.skill-grid{
    margin-top: 15px;
    height:94%;
    width: 60%;
    background-color: red;
    display: grid;
    grid-template-rows: repeat(40, 1fr);
    grid-template-columns: repeat(40, 1fr);
    background: linear-gradient(315deg, #2b4162 0%, #2e2925 74%);
    text-align: center;
    border-radius: 2rem;
    animation: breathing 3s linear infinite;
    margin-right: 1%;
    gap: 1%;
    
}

.proj1{
    background-color: red;
    grid-row: 3 / 21;
    grid-column: 2 / 30;
    background-image: url(images/proj1.png);
}
.proj2{
    background-color: green;
    grid-row: 3/ 39;
    grid-column: 30/40;
    background-image: url(images/proj2.png);

}
.proj3{
    background-color: pink;
    grid-row: 21/39;
    grid-column: 14/30;
    background-image: url(images/proj3.png);
}
.proj4{
    background-color: purple;
    grid-row: 21/30;
    grid-column: 2/14;
    background-image: url(images/proj4.png);
}
.proj5{
    background-color: oldlace;
    grid-row: 30/39;
    grid-column: 2/14;
    background-image: url(images/proj5.png);
}

.proj1,.proj2,.proj3,.proj4,.proj5 {
    opacity: .5;
}
.proj1:hover,.proj2:hover,.proj3:hover,.proj4:hover,.proj5:hover {
    opacity: 1;
    border: 2px solid whitesmoke;
}





